 # exclude everything except directory foo/bar
/*
!/mysql
!/nginx
!/php_code
!docker-compose.yml
!.gitignore
!composer.json
!/app/
!/dao/
!/db/
# exclui tudo menos as pastas do sistema e arquivo de controle git/compose 