# exclude everything except directory foo/bar
/*
!/mysql
!/nginx
!/App
!/php
!.env
!docker-compose.yml
!.gitignore
!composer.json
!package.json
!webpack.config.js
# exclui tudo menos as pastas do sistema e arquivo de controle git/compose
