# exclude everything except directory foo/bar
/*
!/mysql
!/nginx
!/App
!/php
!docker-compose.yml
!.gitignore
!favicon.ico
!composer.json
# exclui tudo menos as pastas do sistema e arquivo de controle git/compose
